@import './custom.scss';

$xxl: 1600px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 480px;

// color
$primary: #002b53;
$primary-080: #466785;
$primary-050: #90a0af;
$primary-030: #dbe4ec;
$primary-010: #f0f5f9;

$error: #cb0a29;
$error-fill: #fdeff1;
$safe: #006737;
$safe-fill: #f0f8f6;
$warning: #f2bb2c;
$warning-fill: #fff5db;

$black: #171717;
$black-080: #424242;
$black-070: #707070;
$black-050: #8f8f8f;
$black-030: #d5d5d5;
$black-015: #eeeeee;
$black-005: #f7f7f7;

$text-normal: #222222;
$text-disable: #999999;
$text-label: #6b6b6b;
$text-050: #8f8f8f;
$text-030: #d4d4d4;
$text-015: #eeeeee;
$text-005: #f5f5f5;

$link: #2a74aa;
$white: #ffffff;
$green: #077c84;
$gray: #d9d9d9;

$space-amount-default: (
  0,
  1,
  2,
  4,
  6,
  8,
  10,
  12,
  14,
  16,
  20,
  22,
  24,
  28,
  32,
  36,
  40,
  44,
  48,
  56,
  64,
  80,
  96,
  100,
  112,
  128,
  134,
  144,
  160,
  176,
  192,
  208,
  224,
  240,
  244,
  256,
  288,
  320,
  344,
  384
);
$opacity-default: (0, 5, 10, 20, 40, 50, 60, 75, 90, 95, 100);
$border-radius-default: (0, 1, 2, 3, 4);
$border-width-default: (0, 1, 2, 4);
$stroke-width-default: (0, 1, 2);
$zindex-default: (0, 10, 100, 1000, 10000, 100000);
$font-size-default: generate-array(9, 40, 1);
$pos-trbl-default: generate-array(1, 48, 1);

$space-amounts: join($space-amount-default, $space-amount-custom, comma);
$opacity-atomics: join($opacity-default, $opacity-custom, comma);
$border-radius-atomics: join($border-radius-default, $border-radius-custom, comma);
$border-width-atomics: join($border-width-default, $border-width-custom, comma);
$stroke-width-atomics: join($stroke-width-default, $stroke-width-custom, comma);
$zindex-atomics: join($zindex-default, $zindex-custom, comma);
$font-size-atomics: join($font-size-default, $font-size-custom, comma);
$pos-trbl-atomics: join($pos-trbl-default, $pos-trbl-custom, comma);
$negative-pos-trbl-atomics: negative-sign($pos-trbl-atomics);
$position-atomics: (relative, absolute, fixed, sticky);
$display-atomics: (none, block, inline-block, inline, flex, inline-flex);
$text-align-atomics: (center, start, end);
$overflow-atomics: (auto, hidden, scroll);
$overflow-x-atomics: (auto, hidden, scroll);
$overflow-y-atomics: (auto, hidden, scroll);
$justify-content-atomics: (normal, flex-start, flex-end, center, space-between, space-around);
$justify-items-atomics: (start, end, center);
$align-content-atomics: (normal, flex-start, flex-end, center, space-between, space-around);
$align-items-atomics: (flex-start, flex-end, center);
$flex-direction-atomics: (row, row-reverse, column, column-reverse);
$border-style-atomics: (solid, dashed, dotted, double, hidden, none);
$cursor-atomics: (auto, default, pointer, grab, grabbing);
$pointer-events-atomics: (auto, none);
$user-select-atomics: (none, text, auto, all);

.abc {
  color: "#{$negative-pos-trbl-atomics}";
}

$atomicMap: (
  ('pos', 'position', $position-atomics),
  ('dis', 'display', $display-atomics),
  ('text', 'text-align', $text-align-atomics),
  ('overflow', 'overflow', $overflow-atomics),
  ('overflow-x', 'overflow-x', $overflow-x-atomics),
  ('overflow-y', 'overflow-y', $overflow-x-atomics),
  ('jc', 'justify-content', $justify-content-atomics),
  ('ji', 'justify-items', $justify-items-atomics),
  ('ac', 'align-content', $align-content-atomics),
  ('ai', 'align-items', $align-items-atomics),
  ('flex', 'flex-direction', $flex-direction-atomics),
  ('rounded', 'border-radius', $border-radius-atomics, px),
  ('border', 'border-width', $border-width-atomics, px),
  ('border-b', 'border-bottom', $border-width-atomics, px solid),
  ('border', 'border-style', $border-style-atomics),
  ('opacity', 'opacity', $opacity-atomics, '%'),
  ('cursor', 'cursor', $cursor-atomics),
  ('pointer-events', 'pointer-events', $pointer-events-atomics),
  ('select', 'user-select', $user-select-atomics),
  ('stroke', 'stroke-width', $stroke-width-atomics),
  ('w', 'width', $space-amounts, px),
  ('min-w', 'min-width', $space-amounts, px),
  ('max-w', 'max-width', $space-amounts, px),
  ('h', 'height', $space-amounts, px),
  ('min-h', 'min-height', $space-amounts, px),
  ('max-h', 'max-height', $space-amounts, px),
  ('ma', 'margin', $space-amounts, px),
  ('mt', 'margin-top', $space-amounts, px),
  ('mr', 'margin-right', $space-amounts, px),
  ('mb', 'margin-bottom', $space-amounts, px),
  ('ml', 'margin-left', $space-amounts, px),
  ('mx', ('margin-left', 'margin-right'), $space-amounts, px),
  ('my', ('margin-top', 'margin-bottom'), $space-amounts, px),
  ('pa', 'padding', $space-amounts, px),
  ('pt', 'padding-top', $space-amounts, px),
  ('pr', 'padding-right', $space-amounts, px),
  ('pb', 'padding-bottom', $space-amounts, px),
  ('pl', 'padding-left', $space-amounts, px),
  ('px', ('padding-left', 'padding-right'), $space-amounts, px),
  ('py', ('padding-top', 'padding-bottom'), $space-amounts, px),
  ('z', 'z-index', $zindex-atomics),
  ('fs', 'font-size', $font-size-atomics, px),
  ('top', 'top', $pos-trbl-atomics, px),
  ('right', 'right', $pos-trbl-atomics, px),
  ('bottom', 'bottom', $pos-trbl-atomics, px),
  ('left', 'left', $pos-trbl-atomics, px),
  ('-top', 'top', $pos-trbl-atomics, px, 'negative'),
  ('-right', 'right', $pos-trbl-atomics, px, 'negative'),
  ('-bottom', 'bottom', $pos-trbl-atomics, px, 'negative'),
  ('-left', 'left', $pos-trbl-atomics, px, 'negative'),
);

$colorMap: (
  'primary': $primary,
  'primary-080': $primary-080,
  'primary-050': $primary-050,
  'primary-030': $primary-030,
  'primary-010': $primary-010,
  'error': $error,
  'error-fill': $error-fill,
  'safe': $safe,
  'safe-fill': $safe-fill,
  'warning': $warning,
  'warning-fill': $warning-fill,
  'black': $black,
  'black-080': $black-080,
  'black-070': $black-070,
  'black-050': $black-050,
  'black-030': $black-030,
  'black-015': $black-015,
  'black-005': $black-005,
  'text-normal': $text-normal,
  'text-disable': $text-disable,
  'text-label': $text-label,
  'text-050': $text-050,
  'text-030': $text-030,
  'text-015': $text-015,
  'text-005': $text-005,
  'link': $link,
  'white': $white,
  'green': $green,
  'gray': $gray,
);
