// Adjust this to include the pixel amounts you need.
// width and height, margin and padding
$space-amount-custom: 200, 400;
$opacity-custom: 70, 80;
$border-radius-custom: 6;
$border-width-custom: 6;
$stroke-width-custom: 3;
$zindex-custom: 1;
$font-size-custom: 8;
$pos-trbl-custom: 99;
